$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

$linkBlue: #0000ee;

// $primary: #3F51B5;
$primary: #3498db;
$primary-dark: #3F51B5;
// $primary-dark: #1A237E;
$faded-grey:#687074;
$gradient: linear-gradient(to right, #67edfe, #2196f3);
