body {
  
  .router-link {
    color: $primary;
    display: inline-block;
    position: relative;
    text-decoration: none;
//      &:before {
//        background-color: $primary;
//        content: '';
//        height: 2px;
//        position: absolute;
//        bottom: -1px;
//        left: 50%;
//        transform: translateX(-50%);
//        transition: width 0.3s ease-in-out;
//        width: 0;
//      }
//  
    &:hover {
      text-decoration: underline;
//        color: $faded-grey;
//        &:before {
//          width: 100%;
//        }
    }

  }

  .contract-addr {
    padding-left: 15px;
    background-image: url(~@/assets/img/icons/contract.png);
    background-size: 12px 12px;
    background-position: 0 3px;
    background-repeat: no-repeat;
  }

  .v-toolbar__title {
    color: $faded-grey;
  }

  .listTotalHeader {
    text-align: center;
    padding-bottom: 20px;
    padding-left: 10px;
  }

  .odometer-theme-default {
    font-family: "Varela Round", Avenir, Helvetica, Arial, sans-serif !important;
  }

}

strong {
  color: white !important;
}

@include respond-above(sm) {
  
    body {
    
      font-size: 13px !important;

      .listTotalHeader {
        text-align: left;
      }

    }

}
