.header {
  padding: 10px 0px;
  margin: 20px 0px;
  color: white;
  // background: linear-gradient(to right, #67edfe, #2196f3);
  .hash_rate_item {
    display: grid;
    // grid-template-columns: 50% 50%;
    grid-template-areas: 
    "icon content";
    .hash_icon {
      grid-area: icon;
      justify-self: end;
      align-self: center;
    }
    .hash_content {
      grid-area: content;
      justify-self: start;
      align-self: center;

      .hash_idometer {
        font-size: 24px;
      }
    }
  }
}
