.headerIcons {
  width: 80px;
}

.navIcons {
  width: 15px;
}

.toolbarIcons {
  width: 16px;
  vertical-align: middle;
}

.copyIcon {
  cursor: pointer;
  display: inline-block;
}

.listIcons {
  width: 12px;
}

.transferIcons {
  width: 24px;
}
