.listContainer {

  .listData .v-list__tile {
    text-align: center !important;
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap !important;
    overflow-wrap: break-word;
    height: auto;
  }

  .v-toolbar__title {
    color: $faded-grey;
    font-size: 16px;
  }

  .listData .v-list__tile__content {
    word-break: break-all;
  } 

  .listCategory {
    width: 100%;
    color: $faded-grey;
  }

  .v-toolbar {
    color: white;
    font-size: 13px;

    .v-toolbar__title {
      span {
        opacity: 0.7;
      }
    }
  }

  .inputData {    
    .v-list__tile .v-input .v-input__slot {      
      border: solid 1px $faded-grey;
      textarea {
        color: $faded-grey;
      }
    }
  }
}

@include respond-above(sm) {

  .listContainer {
    

    .listData .v-list__tile {
      margin: 0px;
      height: 30px;
      font-size: 13px;
    }

    .listCategory {
      color: black;
      width: 30%;
    }
    
    .inputData {
      
      .v-textarea {
        width: 80%;
        font-size: 13px;
      }
      .v-list__tile {
        height: 100%;
      }
    }
  }
}
