// .tableHash {
//   span {
//     width: 70%;
//   }
// }
// .homeTable {
//   height: 500px;
//   overflow-y: scroll;
//   word-break: break-all;
// }

// .transactionHomeTable {
//   .listData {
//     height: 30px;
//   }
// }

// @include respond-below(md) {
  
// .transactionHomeTable {
//   td {
//     span {
//       width: 100%;
//     }
//   }
// }
// }

// .table {
//   height: 500px;
//   overflow-y: scroll;
//   word-break: break-all;
//   background: #fafafa !important;
//   span {
//     width: 70%;
//   }
// }

.table-wrapper {
  overflow-x: auto;
}

.table {
  .icon {
    height: 0;

    .mdi-24px.mdi:before {
      line-height: 0;
      vertical-align: middle;
    }
  }
  td {
    white-space: nowrap;
  }
}

.short-addr {
  float: left;
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.homeTable {
  // height: 500px;
  // overflow-y: scroll;
  word-break: break-all;
  -webkit-overflow-scrolling: touch;

  .table .chevron-cell {
    width: 5px !important;
  }

  .panelHeading {
    color: $faded-grey;
  }

    thead {
      display: none;
    }
  
    .homeBlocksColumn > span {
      display: grid;
      grid-template-columns: 200px auto;
      grid-template-areas:
        "blockBox blockContent";
  
      .homeBlockBox {
        grid-area: blockBox;
        margin: 2px 5px;
        padding: 11px;
        background: #B0BEC5;
        color: white;
        text-align: center;
      }
    
      .homeBlockContent {
        text-align: left;
        grid-area: blockContent;

        @include respond-above(sm) {
          margin: 7px 13px 0 0;
        }

        .homeBlockMiner {
          display: flex;
          flex-flow: row wrap;
        }

        .homeBlockReward {
          display: flex;
          flex-flow: row wrap;
        }
      }
    }

    .homeTransactionsColumn > span {
      display: grid;
      grid-template-columns: auto;
      grid-template-areas:
      "transactionInfo"
      "transactionTime";  
      
      text-align: left;
      margin: 7px 13px 0 0;

   
      .homeTransactionInfo {
        grid-area: transactionInfo;
        justify-self: start;

        .homeTransactionHash {
          display: flex;
          flex-flow: row wrap;
        }

        .homeTransactionAmount {
          display: flex;
          flex-flow: row wrap;
        }
      }

      .homeTransactionTime {
        grid-area: transactionTime;
        justify-self: start;
      }


      @include respond-above(sm) {
        grid-template-areas:
        "transactionInfo transactionTime";

        .homeTransactionTime {
          justify-self: end;
        }

        .homeTransactionAddresses {
          display: flex;
          flex-flow: row wrap;
        }
      }
    }

    .homeTransactionsColumn {
      &::before {
        content: none !important;
      }
    }

    .homeBlocksColumn {
      &::before {
        content: none !important;
      }
    };

}
