.tableTabs {

  .v-tabs__div {
    font-size: 12px;
    .v-tabs__items {
      overflow: visible;
    }

  }

  .v-list {
    padding-bottom: 100px;
  }

}

.nestedTabs {
  width: 90%;
}

.transactionsTab {
  height: 500px;
  overflow-y: scroll;
  word-break: break-all;
  -webkit-overflow-scrolling: touch;
}

@include respond-above(sm) {

  .tableTabs {
    .v-list {
      padding-bottom: 10px;
    }
  
  }
}