<!DOCTYPE html>
<html lang="en">
  <head>    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Facebook OG Tags -->
    <meta property="og:title" content="CMTTracking: The CyberMiles Block Explorer" />
    <meta property="og:description" content="CMTTracking is a Block Explorer and Analytics Platform for CyberMiles, a decentralized smart contracts platform." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.cmttracking.io/" />
    <meta property="og:image" content="https://www.cmttracking.io/logo-pad.jpg" />

    <link rel="icon" href="<%= BASE_URL %>favicon.ico?v=2">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100:300,400,500,700,900|Varela+Round|Material+Icons" rel="stylesheet">
    <link href="/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
    <title>CMTTracking - Cybermiles Block Explorer</title>
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <script src="/pace/pace.js"></script>
    <link href="/pace/themes/blue/pace-theme-minimal.css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120065893-6"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-120065893-6');
      </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Cybermiles Explorer doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>


