<template>
  <v-container>
    <p
      class="listTotalHeader"
      v-if="this.totalAccountsInDB && this.totalAccountsInDB > 0"
    >
      {{ `${this.totalAccountsInDB} Accounts found (showing the last ${this.totalAccounts})` }}
    </p>
    <Loader v-if="isLoading" />
    <b-table
      v-else-if="!isLoading"
      :data="accounts"
      class="table"
    >
      <template slot-scope="props">
        <b-table-column field="rank" label="Rank">
          {{ props.index + (currentPage * pageSize + 1) - pageSize }}
        </b-table-column>

        <b-table-column field="address" label="Address">
          <router-link
            class="router-link short-addr"
            :to="{ name: 'address', params: {address: props.row.address}}"
          >
            {{ props.row.address }}
          </router-link>
        </b-table-column>

                <b-table-column numeric field="balance" label="Balance">
          <span v-html="transformStyle(props.row.balance)">
            <!-- {{
              props.row.balance.toLocaleString(undefined,
                {
                  minimumFractionDigits: props.row.balance.toString().indexOf('.') > -1
                  ? props.row.balance.toString().split('.')[1].length
                  : 0
                })
            }} CMT -->
          </span>
        </b-table-column>

        <!-- <b-table-column field="percentage" label="Percentage">
          {{ props.row.stakes && props.row.stakes.percentage ? props.row.stakes.percentage : '' }}
        </b-table-column> -->


        <!-- <b-table-column field="balance" label="Balance">
          {{ props.row.stakes. }} CMT
        </b-table-column> -->

      </template>

    </b-table>
    <el-pagination
      small
      background
      @current-change="shiftPage"
      @prev-click="shiftPage(currentPage-1)"
      @next-click="shiftPage(currentPage+1)"
      layout="prev, pager, next"
      :current-page="currentPage"
      :pager-count=5
      :page-size="pageSize"
      :total="totalAccounts">
    </el-pagination>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';
import Loader from '../reusables/loader.vue';

export default {
  name: 'Accounts',
  data() {
    return {
      currentPage: 1,
      pageSize: 20,
      isLoading: false,
    };
  },
  components: {
    Loader,
  },
  computed: {
    ...mapGetters(['accounts', 'totalAccounts', 'totalAccountsInDB']),
  },
  watch: {
    accounts() {
      this.isLoading = false;
    },
    '$route.query.page': function (newPage) {
      this.initData(newPage);
    },
  },
  methods: {
    initData(page) {
      if (!isNaN(page)) {
        const pageQuery = parseInt(page);
        this.currentPage = pageQuery;
        this.isLoading = true;
        this.$store.dispatch('fetchAccounts', {
          limit: this.pageSize,
          page: pageQuery,
        });
      }
    },
    shiftPage(page) {
      this.$router.push({ path: this.$route.path, query: { page } });
    },
    appendQueries() {
      const pageQuery = parseInt(this.$route.query.page);
      this.currentPage = pageQuery;
      this.$router.push({
        path: this.$route.path,
        query: { page: pageQuery || 1 },
      });
      this.initData(pageQuery);
    },
    formatNumber(value) {
      return value.toLocaleString(undefined, {
        minimumFractionDigits: 8,
      });
    },
    transformStyle(value) {
      const formattedNumber = this.formatNumber(value);
      return formattedNumber.indexOf('.') > -1
        ? formattedNumber
          .replace(/[^.]+?$/g, match => `
          <span class="greyText">
            ${match}
          </span>
        `)
          .replace('.', match => `
          <span class="boldDecimal">
            ${match}
          </span>
          `)
        : formattedNumber;
    },
  },
  created() {
    this.appendQueries();
  },
};
</script>

<style lang="scss">
.greyText {
  color: #687074;
}

.boldDecimal {
  font-weight: bold;
}
</style>
