<template>
  <div>
    <div v-if="totalAddressTransactions > 0">
      <b-table
        :data="addressTransactions"
        detailed
        detail-key="hash"
        class="table"
	    v-bind:mobileCards="false"
      >
        <template slot-scope="props">
          <b-table-column field="hash" label="TxHash">
            <div v-if="props.row.hash && props.row.hash.length < 40">
              {{ props.row.hash }}
            </div>
            <router-link
              v-else
              class="router-link short-addr"
              :to="{ name: 'tx', params: {txhash: props.row.hash}}"
            >
              {{ props.row.hash }}
            </router-link>
          </b-table-column>
          <b-table-column field="blockNumber" label="Block">
            <router-link
              class="router-link"
              :to="{ name: 'block', params: {blockNumber: props.row.blockNumber}}"
            >
              {{ props.row.blockNumber }}
            </router-link>
          </b-table-column>
          <b-table-column field="timeStamp" label="Age">
            <v-tooltip bottom>
                <span slot="activator">
                    <timeago
                      :datetime="props.row.timestamp"
                      :auto-update="10">
                    </timeago>
                </span>
                <span>{{ new Date(props.row.timestamp).toISOString() }}</span>
              </v-tooltip>
          </b-table-column>
          <b-table-column field="from" label="From">
            <span class="short-addr" v-if="(address === props.row.from) || (props.row.from.length < 40)">
              {{ props.row.from }}
            </span>
            <router-link
              v-else
              class="router-link short-addr"
              :to="{ name: 'address', params: {address: props.row.from}}"
            >
              {{ props.row.from }}
            </router-link>
          </b-table-column>
          <b-table-column label="">
            <!-- <img
              class="transferIcons"
              v-if="(((props.row.to) && (address == props.row.to)) && !isContract)"
              src="@/assets/img/icons/transfer_in_to_left.png"
              alt="transfer in"
            />
            <img
              class="transferIcons"
              v-else-if="((address == props.row.from) && (props.row.to) || isContract)"
              src="@/assets/img/icons/transfer_out_to_right.png"
              alt="transfer out"
            /> -->
            {{
              (props.row.to
              && (address == props.row.to)
              && !isContract)
              ? `IN`
              : (address == props.row.from
              && (props.row.to || isContract))
              ? `OUT`
              : ''
            }}
          </b-table-column>
          <b-table-column field="to" label="To">
            <router-link
              v-if="props.row.to && (props.row.to !== address)"
              class="router-link short-addr"
              v-bind:class="{'contract-addr':props.row.isContract}"
              :to="{ name: 'address', params: {address: props.row.to}}"
            >
              {{ props.row.to }}
            </router-link>
            <span v-else-if="props.row.txType">
              {{ props.row.txType }}
            </span>
            <span class="short-addr" v-else>
              {{ props.row.to }}
            </span>

          </b-table-column>
          <b-table-column field="value" label="Value">
            {{ `${props.row.value} CMT` }}
          </b-table-column>
          <b-table-column field="value" label="TxFee">
              {{ props.row.txResult ? props.row.txResult.fee.value : "" }}
          </b-table-column>
        </template>
        <template slot="detail" slot-scope="props">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                        <small>
                            Block:
                            <router-link
                              class="router-link"
                              :to="{ name: 'block', params: {blockNumber: props.row.blockNumber}}"
                            >
                              {{ props.row.blockNumber }}
                            </router-link>
                          </small>
                          <br>
                          <small>Gas Limit: {{ props.row.gas }}</small>
                          <br>
                          <small>Gas Price: {{ props.row.gasPrice }}</small>
                          <br>
                          <small>Nonce: {{ props.row.nonce }}</small>
                          <br>
                          <small>Transaction Index: {{ props.row.transactionIndex }}</small>
                          <br>
                        </p>
                    </div>
                </div>
            </article>
        </template>
      </b-table>
    </div>
      <Empty v-else/>
      <el-pagination
        small
        background
        @current-page="current_page"
        @current-change="shift"
        @prev-click="shift(current_page-1)"
        @next-click="shift(current_page+1)"
        layout="prev, pager, next"
        :current_page.sync="current_page"
        :pager-count=5
        :page-size="pageSize"
        :total="totalAddressTransactions">
      </el-pagination>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Empty from '../reusables/empty.vue';

export default {
  name: 'AddressTransactions',
  props: ['address', 'isContract'],
  components: {
    Empty,
  },
  data() {
    return {
      current_page: 1,
      pageSize: 10,
    };
  },
  computed: {
    ...mapGetters(['addressTransactions', 'totalAddressTransactions']),
  },
  watch: {
    '$route.params.address': function () {
      this.shift(1);
    },
  },
  methods: {
    shift(page) {
      this.$store.dispatch('fetchAddressTransactions', {
        address: this.address,
        limit: this.pageSize,
        page,
      });
      this.current_page = page;
    },
  },
  created() {
    this.shift(1);
  },
};
</script>
