<template>
  <v-container class="listContainer">
    <Loader v-if="isLoading" />
    <Empty v-else-if="Object.keys(contract).length === 0 && contract.constructor === Object"/>
    <v-card v-else-if="!isLoading">
      <v-toolbar
        dense
        light
        card
      >
        <v-toolbar-title>
          <img class="toolbarIcons" src="@/assets/img/icons/contract.png" alt="contract" />
          Contract
          <span>
            {{ address }}
          </span>
            <img
              class="toolbarIcons copyIcon"
              src="@/assets/img/icons/copy.png"
              alt="copy"
              v-clipboard:copy="address"
              v-clipboard:success="onCopy"
              v-clipboard:error="onError"
            />
          </v-toolbar-title>
      </v-toolbar>
    <v-container>
    <!-- <v-list-tile class="listData">
      <v-list-tile-title class="listCategory">Avalible Balance</v-list-tile-title>
      <v-list-tile-content v-if="contract.availableBalance >= 0">{{ `${contract.availableBalance} CMT` }}</v-list-tile-content>
    </v-list-tile> -->
    <v-list-tile class="listData">
      <v-list-tile-title class="listCategory">Balance</v-list-tile-title>
      <v-list-tile-content v-if="contract.totalBalance >= 0">
        {{
          contract.totalBalance.toLocaleString(undefined,
          {
            minimumFractionDigits: contract.totalBalance.toString().indexOf('.') > -1
            ? contract.totalBalance.toString().split('.')[1].length
            : 0
          })
        }} CMT
      </v-list-tile-content>
    </v-list-tile>
    <v-list-tile v-if="contract.contractAccountInfo.contractType === 'CRC20 Token'" class="listData">
      <v-list-tile-title class="listCategory">Token Tracker</v-list-tile-title>
        <router-link
          class="router-link"
          :to="{ name: 'token', params: {token: address}}"
        >
          <v-list-tile-content v-if="contract.contractAccountInfo.name">{{ contract.contractAccountInfo.name }}</v-list-tile-content>
        </router-link>
    </v-list-tile>
    <v-list-tile class="listData">
      <v-list-tile-title class="listCategory">Contract Type</v-list-tile-title>
      <v-list-tile-content v-if="contract.contractAccountInfo.contractType">{{ contract.contractAccountInfo.contractType }}</v-list-tile-content>
    </v-list-tile>

    <v-list-tile class="listData">
      <v-list-tile-title class="listCategory">Contract Creator</v-list-tile-title>
      <router-link class="router-link" :to="{ name: 'address', params: { address: contract.contractAccountInfo.creator }}">
        <v-list-tile-content>
          {{ contract.contractAccountInfo.creator }}
        </v-list-tile-content>
      </router-link>
    </v-list-tile>

    <v-list-tile class="listData">
      <v-list-tile-title class="listCategory">Created At</v-list-tile-title>
      <router-link class="router-link" :to="{ name: 'tx', params: { txhash: contract.contractAccountInfo.txHash }}">
        <v-list-tile-content>
          {{ contract.contractAccountInfo.txHash }}
        </v-list-tile-content>
      </router-link>
    </v-list-tile>

    <!-- <v-list-tile class="listData">
      <v-list-tile-title class="listCategory">Owner</v-list-tile-title>
      <v-list-tile-content v-if="contract.contractAccountInfo.owner">
        <router-link
          class="router-link"
          :to="{ name: 'address', params: {address: contract.contractAccountInfo.owner }}"
        >
          {{ contract.contractAccountInfo.owner }}
        </router-link>
      </v-list-tile-content>
    </v-list-tile>
    <v-list-tile class="listData">
      <v-list-tile-title class="listCategory">Total Supply</v-list-tile-title>
      <v-list-tile-content v-if="contract.contractAccountInfo.totalSupply">{{ contract.contractAccountInfo.totalSupply }}</v-list-tile-content>
    </v-list-tile>
    <v-list-tile class="listData">
      <v-list-tile-title class="listCategory">Decimals</v-list-tile-title>
      <v-list-tile-content v-if="contract.contractAccountInfo.decimals">{{ contract.contractAccountInfo.decimals }}</v-list-tile-content>
    </v-list-tile> -->
    <v-list-tile class="listData">
      <v-list-tile-title class="listCategory">Transactions</v-list-tile-title>
      <v-list-tile-content>
        {{ `${contract.txNum } ${contract.txNum !== 1 ? "txns" :  "txn"}` }}
      </v-list-tile-content>
    </v-list-tile>
    <v-tabs
      class="tableTabs nestedTabs"
      slider-color="primary"
      v-model="activeTab"
    >
      <v-tab @click="switchTab(0)">
        {{ `${ this.totalAddressTransactions || '' } Transactions` }}
      </v-tab>
      <v-tab-item>
        <AddressTransactions
          v-if="activeTab == 0"
          v-bind:address="address"
          :isContract="false"
        />
      </v-tab-item>
      <v-tab v-if="contract.contractAccountInfo.contractType === 'CRC20 Token'" @click="switchTab(1)">
        {{ `${ this.totalTokenTransactions || '' } CRC20 Token Txns` }}
      </v-tab>
      <v-tab-item>
        <TokenTransactions
          v-if="activeTab == 1"
          v-bind:address="address"
        />
      </v-tab-item>
      <v-tab @click="switchTab(2)">
        {{ `${ this.totalAddressTokens || '' } Token Balances ` }}
      </v-tab>
      <v-tab-item>
        <TokenBalances
          v-bind:address="address"
          v-if="activeTab == 2"
        />
      </v-tab-item>
    </v-tabs>
    </v-container>
    </v-card>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';
import TokenBalances from './tokenBalances.vue';
import AddressTransactions from './addressTransactions.vue';
import TokenTransactions from './tokenTransactions.vue';
import toast from '../../tools/toast';
import Loader from '../reusables/loader.vue';
import Empty from '../reusables/empty.vue';

export default {
  name: 'Contract',
  props: ['contract', 'isLoading'],
  data() {
    return {
      address: this.$route.params.address,
      activeTab: 0,
    };
  },
  computed: {
    ...mapGetters({
      totalAddressTransactions: 'totalAddressTransactions',
      totalTokenTransactions: 'totalTokenTransactions',
      totalAddressTokens: 'totalAddressTokens',
    }),
  },
  components: {
    AddressTransactions,
    TokenBalances,
    Loader,
    TokenTransactions,
    Empty,
  },
  watch: {
    '$route.params.address': function (newAddress) {
      this.address = newAddress;
      this.resetTotals();
    },
  },
  methods: {
    switchTab(tab) {
      this.activeTab = tab;
    },
    updateCount(tab, count) {
      if (tab == 'totalTokenTransactions') {
        this.totalTokenTransactions = count;
      } else if (tab == 'totalTokenBalances') {
        this.totalTokenBalances = count;
      }
    },
    onCopy(e) {
      toast.copied(`${e.text.substring(0, 10)}...`);
    },
    onError() {
      this.$notify.error({
        title: 'Error',
        message: 'Failed to copy address',
        duartion: 10,
      });
    },
    resetTotals() {
      this.$store.dispatch('resetAddressTotals');
    },
  },
  beforeDestroy() {
    this.resetTotals();
  },
};
</script>
