<template>
  <v-container class="home" grid-list-md>
    <v-layout row wrap justify-space-around>
      <v-flex sm12 lg12>
        <HashRate v-bind:header="header"/>
      </v-flex>
      <v-flex md12 lg6>
        <HomeBlocks v-bind:blocks="blocks"/>
      </v-flex>
      <v-flex md12 lg6>
        <HomeTransactions v-bind:transactions="transactions"/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// @ is an alias to /src
import HomeTransactions from '@/components/home/homeTransactions.vue';
import HashRate from '@/components/home/hashRate.vue';
import HomeBlocks from '@/components/home/homeBlocks.vue';
import { mapGetters } from 'vuex';

export default {
  name: 'Home',
  components: {
    HomeTransactions,
    HashRate,
    HomeBlocks,
  },
  computed: {
    ...mapGetters(['blocks', 'transactions', 'header']),
  },
  created() {
    this.fetchHomeData();
    this.timer = setInterval(() => this.fetchHomeData(), 10000);
  },
  methods: {
    fetchHomeData() {
      this.$store.dispatch('fetchHomeData');
    },
    cancelAutoUpdate() {
      clearInterval(this.timer);
    },
  },
  beforeDestroy() {
    clearInterval(this.timer);
  },
};
</script>
