<template>
  <v-container>
    <Loader v-if="isLoading" />
    <Empty v-else-if="blockTransactions && blockTransactions.length == 0"/>
    <b-table
      :data="blockTransactions"
      v-else-if="!isLoading"
      class="table"
	  v-bind:mobileCards="false"
    >
      <template slot-scope="props">
        <b-table-column field="hash" label="TxHash">
          <span v-if="props.row.hash && props.row.hash.length < 40">
            {{ props.row.hash }}
          </span>
          <router-link
            v-else
            class="router-link short-addr"
            :to="{ name: 'tx', params: {txhash: props.row.hash}}"
          >
            {{ props.row.hash }}
          </router-link>
        </b-table-column>
        <b-table-column field="blockNumber" label="Block">
          <router-link
            class="router-link"
            :to="{ name: 'block', params: {blockNumber: props.row.blockNumber}}"
          >
            {{ props.row.blockNumber }}
          </router-link>
        </b-table-column>
        <b-table-column field="timeStamp" label="Age">
          <v-tooltip bottom>
              <span slot="activator">
                  <timeago
                    :datetime="props.row.timestamp"
                    :auto-update="10">
                  </timeago>
              </span>
              <span>{{ new Date(props.row.timestamp).toISOString() }}</span>
            </v-tooltip>
        </b-table-column>
        <b-table-column field="from" label="From">
          <router-link
            class="router-link short-addr"
            :to="{ name: 'address', params: {address: props.row.from}}"
          >
            {{ props.row.from }}
          </router-link>
        </b-table-column>
        <b-table-column label="">
          <img
            class="transferIcons"
            v-if="props.row.to"
            src="@/assets/img/icons/transfer_out_to_right.png"
            alt="transfer out"
          />
        </b-table-column>
        <b-table-column field="to" label="To">
          <router-link
            v-if="props.row.to"
            class="router-link short-addr"
            v-bind:class="{'contract-addr':props.row.isContract}"
            :to="{ name: 'address', params: {address: props.row.to}}"
          >
            {{ props.row.to }}
          </router-link>
          <div v-else-if="props.row.txType">
            {{ props.row.txType }}
          </div>
        </b-table-column>
        <b-table-column field="value" label="Value">
          {{ `${props.row.value} CMT` }}
        </b-table-column>
        <b-table-column field="value" label="TxFee">
            {{ props.row.txResult ? props.row.txResult.fee.value : "" }}
        </b-table-column>
      </template>
    </b-table>
    <el-pagination
      small
      background
      @current-change="shift"
      @prev-click="shift(current_page-1)"
      @next-click="shift(current_page+1)"
      layout="prev, pager, next"
      :pager-count=5
      :page-size="pageSize"
      :total="totalBlockTransactions">
    </el-pagination>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';
import Loader from '../reusables/loader.vue';
import Empty from '../reusables/empty.vue';

export default {
  name: 'BlockTransactions',
  props: ['number'],
  data() {
    return {
      current_page: 1,
      pageSize: 20,
      isLoading: false,
      blockNumber: null,
    };
  },
  components: {
    Loader,
    Empty,
  },
  methods: {
    shift(page) {
      this.isLoading = true;
      this.$store.dispatch('fetchBlockTransactions', {
        block: this.blockNumber,
        limit: this.pageSize,
        page,
      });
      this.current_page = page;
    },
  },
  watch: {
    blockTransactions() {
      this.isLoading = false;
    },
    '$route.params.blockNumber': function (newNumber) {
      this.blockNumber = newNumber;
      this.shift(1);
    },
  },
  computed: {
    ...mapGetters(['blockTransactions', 'totalBlockTransactions']),
  },
  created() {
    this.blockNumber = this.$route.params.blockNumber;
    this.shift(1);
  },
};
</script>

