<template>
  <v-card class="header" dark color="primary">
    <v-layout row wrap justify-space-around align-center>
      <v-flex class="hash_rate_item">
        <div class="hash_content">
          <div>Block Height</div>
          <div class="hash_idometer">
            <IOdometer
              class="iOdometer"
              :value="header.last_number"
            />
          </div>
        </div>
      </v-flex>
      <v-flex class="hash_rate_item">
        <div class="hash_content">
          <div>Block Time</div>
          <div class="hash_idometer">
            <IOdometer
              class="iOdometer"
              :value="header.block_time && parseFloat(parseFloat(header.block_time).toFixed(2))"
            />
          </div>
        </div>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import IOdometer from 'vue-odometer';
import 'odometer/themes/odometer-theme-default.css';

export default {
  name: 'hashRate',
  props: ['header'],
  data() {
    return {
      timer: '',
    };
  },
  components: {
    IOdometer,
  },
};
</script>

<style lang="scss">
</style>
