<template>
  <v-layout row>
    <v-flex>
      <v-card>
        <v-toolbar light>
          <v-toolbar-title><v-icon medium>view_module</v-icon>&nbsp;Blocks</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn color="fadedGrey" light outline to="/blocks">
            <small>View More</small>
          </v-btn>
        </v-toolbar>
        <Empty v-if="blocks && blocks.length == 0"/>
        <b-table
          v-else
          :data="blocks"
          class="homeTable"
        >
            <template slot-scope="props">
              <b-table-column field="number" class="homeBlocksColumn">
                <div class="homeBlockBox">
                  Block

                  <router-link class="router-link" :to="{ name: 'block', params: {blockNumber: props.row.block_meta.header.height }}">
                    <IOdometer
                      class="iOdometer"
                      :value="props.row.block_meta.header.height"
                    />
                  </router-link>
                  <v-tooltip bottom>
                    <p slot="activator"><timeago :datetime="props.row.block_meta.header.time" :auto-update="1" :converterOptions="{ includeSeconds: true }"></timeago></p>
                    <span>{{ new Date(props.row.block_meta.header.time).toISOString() }}</span>
                  </v-tooltip>
                </div>
                <div class="homeBlockContent">
                  <!-- <div class="homeBlockMiner">
                    <p>Mined By &nbsp;</p>
                    <p>{{ props.row.block.miner | shorten(10) }}</p>
                    </div> -->
                  <div class="homeBlockReward">
                    <p>Block Award: &nbsp;</p>
                    <p v-if="props.row.block.block_reward >= 0">{{ `${Number.parseFloat(props.row.block.block_reward).toFixed(5)} CMT` }}</p>
                  </div>
                  <router-link
                    v-if="props.row.block_meta.header.num_txs > 0"
                    class="router-link"
                    :to="{ name: 'blockTransactions', params: {blockNumber: props.row.block_meta.header.height}}"
                  >
                    <p>{{ `${props.row.block_meta.header.num_txs} ${props.row.block_meta.header.num_txs !== 1 ? "txns" :  "txn"}` }}</p>
                  </router-link>
                  <div v-else-if="props.row.block_meta.header.num_txs <= 0">
                    <p>
                      {{ `${props.row.block_meta.header.num_txs} ${props.row.block_meta.header.num_txs !== 1 ? "txns" :  "txn"}` }}
                    </p>
                  </div>
                </div>
              </b-table-column>
            </template>
        </b-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import IOdometer from 'vue-odometer';
import 'odometer/themes/odometer-theme-default.css';
import Empty from '../reusables/empty.vue';

export default {
  name: 'HomeBlocks',
  props: ['blocks'],
  data() {
    return {
      timer: '',
    };
  },
  components: {
    IOdometer,
    Empty,
  },
  filters: {
    shorten(value, digits) {
      return `${value.substring(0, digits)}...`;
    },
  },
};
</script>

<style lang="scss">
</style>
