<template>
  <v-layout row>
    <v-flex>
      <v-card>
        <v-toolbar light>
          <v-toolbar-title><v-icon medium>list</v-icon>&nbsp;Transactions</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>
          <v-btn color="fadedGrey" light outline to="/transactions">
            <small>View More</small>
          </v-btn>
        </v-toolbar>
        <Empty v-if="transactions && transactions.length == 0"/>
        <b-table
          v-else
          :data="transactions"
          class="homeTable"
        >
            <template slot-scope="props">
              <b-table-column
                class="homeTransactionsColumn"
                mobile-cards=false
              >
                <div class="homeTransactionInfo">
                  <div class="homeTransactionHash">
                  <p>TX#&nbsp;</p>
                  <div v-if="props.row.hash && props.row.hash.length < 40">
                    {{ props.row.hash | shorten(20) }}
                  </div>
                  <router-link
                    v-else
                    class="router-link"
                    :to="{ name: 'tx', params: {txhash: props.row.hash }}">
                    {{ props.row.hash | shorten(20) }}
                  </router-link>
                  </div>
                  <div class="homeTransactionAddresses">
                    <div class="homeTransactionAddress">
                      From
                      <router-link v-if="props.row.from" class="router-link" :to="{ name: 'address', params: {address: props.row.from}}">
                        {{ props.row.from | shorten(18) }}
                      </router-link>
                    </div>
                    <div class="homeTransactionAddress">
                        To
                        <router-link
                          v-if="props.row.to"
                          class="router-link"
                          v-bind:class="{'contract-addr':props.row.isContract}"
                          :to="{ name: 'address', params: {address: props.row.to}}"
                        >
                          {{ props.row.to | shorten(18) }}
                        </router-link>
                      <span v-else-if="props.row.txType">
                        {{ props.row.txType }}
                      </span>
                    </div>
                  </div>
                  <div class="homeTransactionAmount">
                    Amount {{ props.row.value >= 0 ? `${props.row.value} CMT` : 'N/A' }}
                  </div>
                </div>
                <div class="homeTransactionTime">
                  <v-tooltip bottom>
                    <span slot="activator"><timeago :datetime="props.row.timestamp" :auto-update="10" :converterOptions="{ includeSeconds: true }"></timeago></span>
                    <span>{{ new Date(props.row.timestamp).toISOString() }}</span>
                  </v-tooltip>
                </div>
              </b-table-column>
            </template>

            <!-- <template slot="detail" slot-scope="props">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                              <small>
                                Block:
                                <router-link class="router-link" :to="{ name: 'block', params: {blockNumber: props.row.blockNumber}}">
                                  {{ props.row.blockNumber }}
                                </router-link>
                              </small>
                              <br>
                              <small>Gas Limit: {{ props.row.gas }}</small>
                              <br>
                              <small>Gas Price: {{ props.row.gasPrice }}</small>
                              <br>
                            </p>
                        </div>
                    </div>
                </article>
            </template> -->
        </b-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import IOdometer from 'vue-odometer';
import 'odometer/themes/odometer-theme-default.css';
import Empty from '../reusables/empty.vue';

export default {
  name: 'HomeTransactions',
  props: ['transactions'],
  data() {
    return {
      timer: '',
      count: this.totalTransactions,
    };
  },
  components: {
    IOdometer,
    Empty,
  },
  filters: {
    shorten(value, digits) {
      return value ? `${value.substring(0, digits)}...` : value;
    },
  },
};
</script>

<style lang="scss">
</style>
