<template>
  <v-container>
    <p
      class="listTotalHeader"
      v-if="this.totalTokens && this.totalTokens > 0"
    >{{ `${this.totalTokens} CRC-20 Tokens found` }}</p>
    <Loader v-if="isLoading"/>
    <Empty v-else-if="tokens && tokens.length == 0"/>
    <b-table v-else-if="!isLoading" :data="tokens" class="table"
	    v-bind:mobileCards="false"
    >
      <template slot-scope="props">
        <!-- <b-table-column field="contract" label="Contract">
          <router-link
            class="router-link short-addr"
            :to="{ name: 'address', params: {address: props.row.address}}"
          >
            <img
              class="listIcons"
              src="@/assets/img/icons/contract.png"
              alt="contract"
            />
            {{ props.row.address }}
          </router-link>
        </b-table-column>-->
        <b-table-column field="name" label="Token Name">
          <router-link
            class="router-link"
            :to="{ name: 'token', params: {token: props.row.address}}"
          >{{ props.row.name || `N/A` }}</router-link>
        </b-table-column>
        <b-table-column field="symbol" label="Symbol">{{ props.row.symbol || `N/A` }}</b-table-column>
        <b-table-column field="owner" label="Owner">
          <router-link
            v-if="props.row.owner && props.row.owner !== '0x'"
            class="router-link short-addr"
            :to="{ name: 'address', params: {address: props.row.owner}}"
          >
            {{ props.row.owner }}
          </router-link>
        </b-table-column>
        <b-table-column
          field="totalSupplt"
          label="Total Supply"
        >{{ props.row.totalSupply | convertToScientificNotation() }}</b-table-column>
        <b-table-column field="decimals" label="Decimals">{{ props.row.decimals || `N/A` }}</b-table-column>
      </template>
    </b-table>
    <el-pagination
      small
      background
      @current-page="current_page"
      @current-change="shift"
      @prev-click="shift(current_page-1)"
      @next-click="shift(current_page+1)"
      layout="prev, pager, next"
      :pager-count="5"
      :page-size="pageSize"
      :total="totalTokens"
    ></el-pagination>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';
import Loader from '../reusables/loader.vue';
import Empty from '../reusables/empty.vue';

export default {
  name: 'tokens',
  data() {
    return {
      current_page: 1,
      pageSize: 20,
      isLoading: false,
    };
  },
  components: {
    Loader,
    Empty,
  },
  watch: {
    tokens() {
      this.isLoading = false;
    },
    '$route.query.page': function (newPage) {
      this.initData(newPage);
    },
  },
  filters: {
    convertToScientificNotation(number) {
      return number.toString().length >= 18
        ? parseInt(number).toExponential(3)
        : number;
    },
  },
  methods: {
    initData(page) {
      if (!isNaN(page)) {
        const pageQuery = parseInt(page);
        this.currentPage = pageQuery;
        this.isLoading = true;
        this.$store.dispatch('fetchTokens', {
          limit: this.pageSize,
          page: pageQuery,
        });
      }
    },
    shift(page) {
      this.$router.push({ path: this.$route.path, query: { page } });
    },
    appendQueries() {
      const pageQuery = parseInt(this.$route.query.page);
      this.currentPage = pageQuery;
      this.$router.push({
        path: this.$route.path,
        query: { page: pageQuery || 1 },
      });
      this.initData(pageQuery);
    },
  },
  computed: {
    ...mapGetters(['tokens', 'totalTokens', 'fetchError']),
  },
  created() {
    this.appendQueries();
  },
};
</script>

<style lang="scss">
</style>
