
.nav {
  a {
    font-weight: bold;
    color: $faded-grey;
    text-decoration: none;
    &.router-link-exact-active {
      color: $primary;
    }
  }

  .mainNav {
    height: 100px;
  
    .v-toolbar__content {
      height: 100%;
      display: grid;
      grid-template-columns: 10% auto;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
        "drawer title"
        "search search";
    }
  
    .navDrawer {
      grid-area: drawer;
    }
  
    .navTitle {
      grid-area: title;
      text-align: center;
  
      .navLogo {
        max-height: 30px;
      }
    }
    .searchForm {
      grid-area: search;
    }
  
    .v-btn--flat {
      // margin: 10px 0px !important;
    }
  
    .v-btn {
      padding: 0px !important;
    }
  }

  .v-breadcrumbs {
    justify-content: center !important;

    li:last-child a {
      color: #3498db;
    }
  }


}


@include respond-above(sm) {
  .nav {
    .mainNav {
    
      .v-toolbar__content {
        height: 100% !important;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
          "title search"
          "title menu";
        padding: 0px 12%;
        
      }

      .v-btn__content {
        padding: 10px 5px;
      }
    
      .navTitle {
        grid-area: title;
        justify-self: start;
        text-align: left;

        .navLogo {
          max-width: 70%;
          max-height: 100%;
          margin: 0 auto;
        }
      }
    
      .searchForm {
        grid-area: search;
        width: 100%;
      }

      .navMenu {
        grid-area: menu;
        display: grid;      
        justify-content: stretch;
        grid-template-columns: repeat(7, auto);

        .v-btn, .v-menu {
          height: 100%;
          width: 100%;
          color: $faded-grey;
        }

        a {
          color: $faded-grey !important;
          display: inline-block;
          position: relative;
          text-decoration: none;
          &:after {
            background-color: $primary;
            content: '';
            height: 2px;
            position: absolute;
            bottom: -1px;
            left: 50%;
            transform: translateX(-50%);
            transition: width 0.3s ease-in-out;
            width: 0;
          }
      
          &:hover {
            &:after {
              width: 100%;
            }
          }
        }

        a.router-link-exact-active {
          .v-btn, .v-menu {
            color: $primary;
          }
          &:after {
            background-color: $primary;
            content: '';
            height: 2px;
            position: absolute;
            bottom: -1px;
            left: 50%;
            transform: translateX(-50%);
            transition: width 0.3s ease-in-out;
            width: 100%;
          }
        }
      }
    }
  }

  .breadCrumbsBar {
    .v-toolbar__content {
      padding: 0px 12%;
    }
    .v-breadcrumbs {
      justify-content: flex-start !important;
    }

  }
}


.navigation-drawer {
  display: flex !important;
  flex-flow: column;

  /* Effect 10: reveal, push out */
  .cl-effect-10  {
    position: relative;
    z-index: 1;
  }

  .cl-effect-10 a {
    overflow: hidden;
    margin: 0 15px;
  }

  .cl-effect-10 a span {
    display: block;
    padding: 10px 20px;
    background: #0f7c67;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }

  .cl-effect-10 a::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #0f7c67;
    content: attr(data-hover);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(-25%);
  }

  .cl-effect-10 a:hover span,
  .cl-effect-10 a:focus span {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }

  .cl-effect-10 a:hover::before,
  .cl-effect-10 a:focus::before {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
  }
}