<template>
  <v-container>
    <Loader v-if="isLoading" />
    <b-table
      v-else-if="!isLoading"
      :data="nodes"
      class="table"
	  v-bind:mobileCards="false"
    >
      <template slot-scope="props">
          <b-table-column field="id" label="Name">
          <router-link
            class="router-link"
            :to="{ name: 'node', params: {address: props.row.owner_address}}"
          >
            {{ props.row.description.name ? props.row.description.name : 'View Node' }}
          </router-link>
          </b-table-column>

          <b-table-column field="voting_power" label="Voting Power">
            {{ props.row.voting_power }}
          </b-table-column>

          <b-table-column field="rank" label="Rank">
            {{ props.row.rank && props.row.rank > 23 ? '' : props.row.rank + 1 }}
          </b-table-column>

          <b-table-column field="owner_address" label="Owner Address">
            <router-link class="router-link short-addr" :to="{ name: 'address', params: {address: props.row.owner_address}}">
              {{ props.row.owner_address }}
            </router-link>
          </b-table-column>

          <b-table-column field="verify" label="Verified">
            {{ props.row.verified }}
          </b-table-column>

          <b-table-column field="status" label="State">
            {{ props.row.state }}
          </b-table-column>

          <b-table-column field="location" label="Location">
            {{ props.row.description.location ? props.row.description.location : 'N/A'}}
          </b-table-column>

          <b-table-column field="shares" label="Total Stakes">
            {{
              parseFloat(props.row.shares).toLocaleString(undefined, {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2
              })
            }}
          </b-table-column>

          <b-table-column field="compensation" label="Compensation">
            {{ props.row.comp_rate | convertFraction() }}
          </b-table-column>
      </template>
    </b-table>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import Loader from '../reusables/loader.vue';

export default {
  name: 'Nodes',
  data() {
    return {
      isLoading: false,
    };
  },
  components: {
    Loader,
  },
  filters: {
    convertFraction(value) {
      const split = value.split('/');
      const decimal = parseInt(split[0], 10) / parseInt(split[1], 10);
      const percentage = decimal * 100;
      return value.indexOf('/') > -1 ? `${percentage.toFixed(2)}%` : value;
    },
  },
  watch: {
    nodes() {
      this.isLoading = false;
    },
  },
  computed: {
    ...mapGetters(['nodes', 'loader']),
  },
  created() {
    this.$store.dispatch('fetchNodes');
  },
};
</script>

