<template>
  <v-app id="app">
    <MainNav/>
    <router-view class="pageContent"/>
    <Footer/>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex';
import MainNav from '@/components/nav/mainNav.vue';
import Footer from '@/components/nav/footer.vue';

export default {
  name: 'App',
  computed: {
    ...mapGetters({
      isLoading: 'loader' 
    })
  },
  components: {
    MainNav,
    Footer,
  },
}
</script>

<style lang="scss">
#app {
  font-family: "Varela Round", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
