<template>
  <div>
    <v-breadcrumbs divider="/" style="padding:0" dark>
        <v-breadcrumbs-item
          v-for="item in crumbs"
          :disabled="item.disabled"
          :key="item.text"
        >
          <router-link
            class="router-link"
            :to="item.link"
          >
            {{ item.text }}
          </router-link>
        </v-breadcrumbs-item>
    </v-breadcrumbs>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Breadcrumbs from './breadcrumbs.vue';

export default {
  name: 'Breadcrumbs',
  data() {
    return {
      crumbs: [],
    };
  },
  computed: {
    ...mapGetters([
      'totalTransactionsInDB',
      'totalBlocksInDB',
      'totalNodes',
      'totalTokens',
    ]),
  },
  methods: {
    generateCrumbs(url) {
      let crumbs = [
        {
          text: 'Home',
          link: '/',
          disabled: false,
        },
      ];
      if (url.includes('address')) {
        crumbs.push(
          {
            text: 'Accounts',
            link: '/accounts',
            disabled: false,
          },
          {
            text: 'Address',
            link: '',
            disabled: true,
          },
        );
      } else if (url.includes('transactions')) {
        crumbs.push({
          text: 'Transactions',
          link: '',
          disabled: true,
        });
      } else if (url.includes('nodes')) {
        crumbs.push({
          text: 'Nodes',
          link: '',
          disabled: true,
        });
      } else if (url.includes('blocks')) {
        crumbs.push({
          text: 'Blocks',
          link: '',
          disabled: true,
        });
      } else if (url.includes('contracts')) {
        crumbs.push({
          text: 'Contracts',
          link: '',
          disabled: true,
        });
      } else if (url.includes('accounts')) {
        crumbs.push({
          text: 'Accounts',
          link: '',
          disabled: true,
        });
      } else if (url.includes('crc20Tokens')) {
        crumbs.push({
          text: 'CRC-20 Tokens',
          link: '/crc20Tokens',
          disabled: true,
        });
      } else if (url.includes('tx')) {
        crumbs.push(
          {
            text: 'Transactions',
            link: '/transactions',
            disabled: false,
          },
          {
            text: 'Transaction',
            link: '',
            disabled: true,
          },
        );
      } else if (url.includes('block')) {
        crumbs.push(
          {
            text: 'Blocks',
            link: '/blocks',
            disabled: false,
          },
          {
            text: 'Block',
            link: '',
            disabled: true,
          },
        );
      } else if (url.includes('node')) {
        crumbs.push(
          {
            text: 'Nodes',
            link: '/nodes',
            disabled: false,
          },
          {
            text: 'Node',
            link: '',
            disabled: true,
          },
        );
      } else if (url.includes('token')) {
        crumbs.push(
          {
            text: 'CRC-20 Tokens',
            link: '/crc20Tokens',
            disabled: false,
          },
          {
            text: 'Token',
            link: '',
            disabled: true,
          },
        );
      } else {
        crumbs = [];
      }
      this.crumbs = crumbs;
    },
  },
  components: {
    Breadcrumbs,
  },
  watch: {
    '$route.path': function (newUrl) {
      this.generateCrumbs(newUrl);
    },
  },
  created() {
    this.generateCrumbs(this.$route.path);
  },
};
</script>
