<template>
  <v-footer
    dark
    height="auto"
    class="mainFooter"
  >
    <v-card
      class="flex"
      flat
      tile
    >
      <v-card-title class="primary footerTitle">
        <strong class="subheading">CMTTracking is a Block Explorer and Analytics Platform for CyberMiles, a decentralized smart contracts platform.</strong>
        <!-- <v-btn
          v-for="icon in icons"
          :key="icon"
          class="mx-3"
          dark
          icon
        >
          <v-icon size="24px">{{ icon }}</v-icon>
        </v-btn> -->
      </v-card-title>

      <v-card-actions class="grey darken-3 justify-center">
        <strong>&copy;&nbsp;CMTTracking.io
          &nbsp;&nbsp;&nbsp;&nbsp;
          Powered by 
          <a href="https://www.cybermiles.io" target="_blank" alt="cybermiles.io">
            <img src="@/assets/img/white-cybermiles.png" alt="cybermiles.io" style="height:20px; vertical-align:top"/>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          Email:
          <a href="mailto:cmttracking@gmail.com"
            onMouseOver="style='color: white'"
            onMouseOut="style='color: #3498db'"
          >
            cmttracking@gmail.com
          </a>
        </strong>
      </v-card-actions>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  name: 'Footer',
  data: () => ({
    icons: [
      'fab fa-facebook',
      'fab fa-twitter',
      'fab fa-google-plus',
      'fab fa-linkedin',
      'fab fa-instagram',
    ],
  }),
};
</script>
