<template>
  <div class="nav">
    <v-toolbar
      class="mainNav"
      clipped-left
    >
      <v-toolbar-side-icon
        @click.stop="drawer = !drawer"
        class="navDrawer hidden-sm-and-up"
      >
      </v-toolbar-side-icon>
      <div class="navTitle">
        <a href="/"><img src="@/assets/img/logo-main.png" alt="CMT TRACKING" class="navLogo"/></a>
      </div>
      <v-toolbar-items class="hidden-sm-and-down navMenu">

        <router-link to="/">
          <v-btn flat>
            <img class="navIcons" src="@/assets/img/icons/home.png" alt="home" />
            &nbsp;Home
          </v-btn>
        </router-link>

        <v-menu offset-y open-on-hover>
          <v-btn flat slot="activator">
            <img class="navIcons" src="@/assets/img/icons/tokens.png" alt="tokens" />
            &nbsp;Blockchain <v-icon>arrow_drop_down</v-icon>
          </v-btn>
          <v-list style="margin-top: 5px">
            <router-link to="/transactions">
              <v-btn flat>
                <img class="navIcons" src="@/assets/img/icons/transaction.png" alt="transaction" />
                &nbsp;Transactions
              </v-btn>
            </router-link>
            <router-link to="/blocks">
              <v-btn flat>
                <img class="navIcons" src="@/assets/img/icons/block.png" alt="block" />
                &nbsp;Blocks
              </v-btn>
            </router-link>
            <router-link to="/contracts">
              <v-btn flat>
                <img class="navIcons" src="@/assets/img/icons/contract.png" alt="contract" />
                &nbsp;Contracts
              </v-btn>
            </router-link>
          </v-list>
        </v-menu>

        <router-link to="/nodes">
          <v-btn flat>
            <img class="navIcons" src="@/assets/img/icons/nodes.png" alt="nodes" />
            &nbsp;Nodes
          </v-btn>
        </router-link>

        <router-link to="/accounts">
          <v-btn flat>
            <img class="navIcons" src="@/assets/img/icons/account.png" alt="account" />
            &nbsp;Accounts
          </v-btn>
        </router-link>

        <v-menu offset-y open-on-hover>
          <v-btn flat slot="activator">
            <img class="navIcons" src="@/assets/img/icons/tokens.png" alt="tokens" />
            &nbsp;Tokens <v-icon>arrow_drop_down</v-icon>
          </v-btn>
          <v-list style="margin-top: 5px">
            <router-link to="/crc20Tokens">
              <v-btn flat>
                CRC20 Tokens
              </v-btn>
            </router-link>
          </v-list>
        </v-menu>

        <v-menu offset-y open-on-hover>
          <v-btn flat slot="activator">
            <img class="navIcons" src="@/assets/img/icons/more.png" alt="more" />
            &nbsp;More <v-icon>arrow_drop_down</v-icon>
          </v-btn>
          <v-list style="margin-top: 5px">
            <a href="https://www.cybermiles.io/developers/"  target="_blank">
              <v-btn flat>
                Technical Document
              </v-btn>
            </a>
          </v-list>
          <v-list>
            <a href="https://testnet.cmttracking.io/" target="_blank">
              <v-btn flat>
                TestNet Tracking
              </v-btn>
            </a>
          </v-list>
          <v-list>
            <a href="https://www.cybermiles.io/metamask/" target="_blank">
              <v-btn flat>
                MetaMask for CMT
              </v-btn>
            </a>
          </v-list>
          <v-list>
            <a href="http://remix.cybermiles.io/" target="_blank">
              <v-btn flat>
                Remix for CMT
              </v-btn>
            </a>
           </v-list>
          <v-list>
            <a href="http://travis-faucet.cybermiles.io/index.html" target="_blank">
              <v-btn flat>
                TestNet Faucet
              </v-btn>
            </a>
          </v-list>
          <v-list>
            <a href="https://www.cybermiles.io/cmt-wallet" target="_blank">
              <v-btn flat>
                CMT-Wallet
              </v-btn>
            </a>
          </v-list>
          <v-list>
            <a href="https://www.cybermiles.io" target="_blank">
              <v-btn flat>
                CyberMiles
              </v-btn>
            </a>
          </v-list>
        </v-menu>

      </v-toolbar-items>
      <v-form class="searchForm" @submit.prevent="handleSubmit">
        <v-text-field
            v-model="search"
            :rules="searchRules"
            label="Search by Address / Txhash / Block / Token"
            hint="For example, 0x6e6b87f..."
            append-icon="search"
            @click:append="handleSubmit"
            single-line
            hide-details
          >
          </v-text-field>
      </v-form>
    </v-toolbar>
    <v-toolbar
      class="breadCrumbsBar"
      flat
      dense
      v-if="$route.path !== '/'"
    >
      <Breadcrumbs/>
    </v-toolbar>

    <v-navigation-drawer
      v-model="drawer"
      absolute
      temporary
      class="hidden-sm-and-up navigation-drawer"
    >
        <router-link to="/">
          <v-btn flat>
            <img class="navIcons" src="@/assets/img/icons/home.png" alt="home" />
            &nbsp;
            <router-link to="/">Home</router-link>
          </v-btn>
        </router-link>

        <router-link to="/transactions">
          <v-btn flat>
            <img class="navIcons" src="@/assets/img/icons/transaction.png" alt="transaction" />
            &nbsp;
            <router-link to="/transactions">Transactions</router-link>
          </v-btn>
        </router-link>

        <router-link to="/blocks">
          <v-btn flat>
            <img class="navIcons" src="@/assets/img/icons/block.png" alt="block" />
            &nbsp;
            <router-link to="/blocks">Blocks</router-link>
          </v-btn>
        </router-link>

        <router-link to="/contracts">
          <v-btn flat>
            <img class="navIcons" src="@/assets/img/icons/contract.png" alt="contract" />
            &nbsp;
            <router-link to="/contracts">Contracts</router-link>
          </v-btn>
        </router-link>

        <router-link to="/nodes">
          <v-btn flat>
            <img class="navIcons" src="@/assets/img/icons/nodes.png" alt="nodes" />
            &nbsp;
            <router-link to="/nodes">Nodes</router-link>
          </v-btn>
        </router-link>

        <router-link to="/accounts">
          <v-btn flat>
            <img class="navIcons" src="@/assets/img/icons/account.png" alt="account" />
            &nbsp;
            <router-link to="/accounts">Accounts</router-link>
          </v-btn>
        </router-link>

        <router-link to="/crc20Tokens">
          <v-btn flat>
            <img class="navIcons" src="@/assets/img/icons/tokens.png" alt="tokens" />
            &nbsp;
            <router-link to="/crc20Tokens">CRC-20 Tokens</router-link>
          </v-btn>
        </router-link>

        <div style="margin-top:50px">
          <a href="https://www.cybermiles.io/developers/"  target="_blank">
            <v-btn flat>
              Technical Document
            </v-btn>
          </a>
          <a href="https://testnet.cmttracking.io/" target="_blank">
            <v-btn flat>
              TestNet Tracking
            </v-btn>
          </a>
          <a href="https://www.cybermiles.io/metamask/" target="_blank">
            <v-btn flat>
              MetaMask for CMT
            </v-btn>
          </a>
          <a href="http://remix.cybermiles.io/" target="_blank">
            <v-btn flat>
              Remix for CMT
            </v-btn>
          </a>
          <a href="http://travis-faucet.cybermiles.io/index.html" target="_blank">
            <v-btn flat>
              TestNet Faucet
            </v-btn>
          </a>
          <a href="https://www.cybermiles.io/cmt-wallet" target="_blank">
            <v-btn flat>
              CMT-Wallet
            </v-btn>
          </a>
          <a href="https://www.cybermiles.io" target="_blank">
            <v-btn flat>
              CyberMiles
            </v-btn>
          </a>

        </div>

    </v-navigation-drawer>
  </div>
</template>

<script>
import Breadcrumbs from "./breadcrumbs.vue";

export default {
  name: "MainNav",
  data() {
    return {
      search: "",
      searchRules: [],
      drawer: false
    };
  },
  methods: {
    handleSubmit() {
      this.$store.dispatch("submitQuery", { query: this.search.trim() });
      this.search = "";
    }
  },
  components: {
    Breadcrumbs
  }
};
</script>

